.password-model{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: white;
    height: 75px;
}

.password-info{
    display: flex;
}

.password-info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 100px;
    flex-wrap: wrap;
}

.password-info-text-domain{
    font-style: italic;
    font-size: 12px;
}

.password-secret{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-right: 11px;
}

.password-secret-hide{
    width: 70px;
    height: 30px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.password-secret-show{
    width: 70px;
    height: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    word-wrap: break-all;
}

.password-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.password-icon > img {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.password-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.password-button{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 49%;
    width: 70px;
    background-color: #FF7700;
    border: none;
    text-align: center;
    text-decoration: none;
    color:white;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.password-button:hover{
    background-color: white;
    color:#DA6A08;
    border-color: #DA6A08;
    border-style: solid;
    border-width: 2px;  
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }