.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FF7700;
}

.login-container button{
    background-color: white;
    color: #FF7700;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.login-container button:hover{
    background-color: #FF7700;
    color: white;
    outline: 2px solid white;
}

.login-container button:disabled{
    background-color: #FF7700;
    color: gray;
    outline: 2px solid gray;
    cursor: not-allowed;
}

.master-password-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #FF7700;
}

.master-password-container input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
}
.master-password-container span{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    width: 80%;
}

.master-password-container button{
    background-color: white;
    color: #FF7700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.login-container span{
    color: white;
    font-size: 15px;
}