.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FF7700;
}

.login-container img{
    margin-bottom: 30px;
}

.login-container button{
    background-color: white;
    color: #FF7700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.login-container button:hover{
    background-color: #FF7700;
    color: white;
    border: white 1px solid;
}

.master-password-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #FF7700;
}

.master-password-container input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.master-password-container button{
    background-color: white;
    color: #FF7700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.login-container span{
    color: white;
    font-size: 15px;
}